body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url('https://res.cloudinary.com/dejzo3x6l/image/upload/v1462601848/login%20page%20design/material-design-1080p-wallpaper_1.jpg');
  background-size: 100% auto; */
}
